<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">New message</h1>
</div>

<form {{action 'newMessage' on='submit'}}>
    <div class="form-group w-50">
        <label>Send to:</label>
        {{input type="text" class="form-control" value=sendTo}}
    </div>

    <div class="form-group w-50">
        <label>Your message:</label>
        {{textarea class="form-control" value=content rows="8"}}
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>