<nav class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0 shadow">
    {{#link-to 'authenticated'}}
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="">Home</a>
    {{/link-to}}
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="" {{action 'logout'}}>Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>E-mail</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        {{#link-to 'authenticated.new'}}
                        <a role="button" class="btn btn-primary" href="">
                            <span data-feather="file-text"></span>
                            Compose
                        </a>
                        {{/link-to}}
                    </li>
                    <li class="nav-item">
                        {{#link-to 'authenticated.inbox'}}
                        <a class="nav-link" href="">
                            <span data-feather="file-text"></span>
                            Inbox
                        </a>
                        {{/link-to}}
                    </li>
                    <li class="nav-item">
                        {{#link-to 'authenticated.sent'}}
                        <a class="nav-link" href="">
                            <span data-feather="file-text"></span>
                            Sent
                        </a>
                        {{/link-to}}
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"> 
            {{outlet}}
        </main>
    </div>
</div>