 <div class="container text-center col-md-4">
    <form class="form-signin" {{action 'authenticate' on='submit'}}>
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      {{input placeholder='Email address' class="form-control" value=identification}}
      {{input placeholder='Password' class="form-control" type='password' value=password}}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <br/>
      Don't have an account? {{#link-to 'registration'}} Sign up here {{/link-to}}
    </form>
  </div>